<!DOCTYPE html>
<html lang="es">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'core/css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/custom.css'%}">

    <link rel="icon" href="{% static 'core/img/Logo_happy_garden.png" type="image/x-icon">

    <title>Productos | Jardinería Happy Garden</title>

</head>

<body>
    <!--navbar -->
    <header class="container-fluid bg-light text-white text-center py-4">
        <ul>
            <li><img id="IconoClima" src=""></li>
            <li id="Descripcion"></li>
            <li id="Temperatura"></li>
        </ul>
        <h1 class="d-1">Jardinería Happy Garden</h1>
        <p id="Slogan">La Jardinería de todos, para todos</p>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="img-logo-nav" src="{% static 'core/img/Logo_happy_garden.png' %}" alt="Logo-Empresa">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sobrenosotros' %}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'despacho' %}">Mi pedido</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="submenu">
                        <img src="{% static 'core/img/cart.png' %}" alt="" id="img-carrito">
                        <div id="carrito">
                            <table id="lista-carrito" class="u-full-width">
                                <thead>
                                    <tr>
                                        <th>Imágen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                        </div>
                    </li>

                </ul>
                <form class="d-flex text-black">
                    <input type="search" placeholder="Buscar..."/>
                    <a href="#" class="icon">
                        <i class="fas fa-search"></i>
                    </a>
                </form>
            </div>
        </div>
    </nav>
    <!--end navbar -->
    <main>
        <div id="lista-producto" class="container">
            <h1 id="encabezado" class="encabezado text-center">Nuestros Productos</h1>
            <div class="row">
                <div class="four columns">
                    <div class="card">
                        <img src="{% static 'core/img/Macetero Conico.jpg'%}" class="u-full-width" alt="pendrive">
                        <div class="info-card">
                            <h4>Macetero Cónico</h4>
                            <p>Modelo cónico con Diseño rugoso.<br>
                                Envio: Gratis</p>
                            <p class="precio">$25.990<span class="u-pull-right">$19.990</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                Carrito</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'core/img/Macetero Cubo.jpg'%}" class="u-full-width" alt="carcasa">
                        <div class="info-card">
                            <h4>Macetero Cúbico</h4>
                            <p>¿Quieres agregar verde a tu entorno, pero no tienes suficiente espacio? Este macetero es ideal para ti, con su tamaño reducido te entrega toda la magia de la naturaleza.</p>
                            <p class="precio">$49.990 <span class="u-pull-right">$35.990</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                Carrito</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'core/img/Macetero Quadratto.jpg'%}" class="u-full-width" alt="camara pc">
                        <div class="info-card">
                            <h4>Macetero estilo Quadratto</h4>
                            <p>Macetero de forma cuadrada, con textura de líneas horizontales.</p>
                            <p class="precio">$39.990<span class="u-pull-right">$29.990</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="{% static 'core/img/Macetero Square Moderno.jpg'%}" class="u-full-width" alt="pendrives">
                        <div class="info-card">
                            <h4>Macetero Square Moderno</h4>
                            <p>Este modelo tiene gran versatilidad, tanto para espacios interiores o exteriores.<br>
                                Envio: Gratis</p>
                            <p class="precio">$12.990 <span class="u-pull-right">$8.990</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                Carrito</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'core/img/Tierra Anasac.jpg'%}" class="u-full-width" alt="carcasa">
                        <div class="info-card">
                            <h4>Tierra Marca Anasac</h4>
                            <p>Sustrato natural desarrollado a partir de la compostación de hojas y residuos vegetales, que mejora las condiciones de los suelos, tanto para el desarrollo de prados como el de otras plantas</p>
                            <p class="precio">$9.990 <span class="u-pull-right">$8.990</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                Carrito</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'core/img/Tierra Armony 2.jpg'%}" class="u-full-width" alt="camara web">
                        <div class="info-card">
                            <h4>Tierra Marca Armony</h4>
                            <p>Tierra con Abono, lista para utilizar. No necesita aplicación de fertilizantes adicionales.</p>
                            <p class="precio">$35.990<span class="u-pull-right">$25.990</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="four columns">
                    <div class="card">
                        <img src="{% static 'core/img/Tierra Armony.jpg'%}" class="u-full-width" alt="pendrive">
                        <div class="info-card">
                            <h4>Tierra de Hojas Armony</h4>
                            <p>Tierra de hojas Armony con abono 40Lts</p>
                            <p class="precio">$15.990 <span class="u-pull-right">$6.990</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                Carrito</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'core/img/Tierra Gaspar.jpg'%}" class="u-full-width" alt="carcasa">
                        <div class="info-card">
                            <h4>Tierra de Hojas Gaspar</h4>
                            <p>Tierra de Hoja Reforzada y Desinfectada de 40 Litros en Saco</p>
                            <p class="precio">$11.990 <span class="u-pull-right">$9.990</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                Carrito</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'core/img/flores-de-lilium.jpg'%}" class="u-full-width" alt="camara">
                        <div class="info-card">
                            <h4>Flores de Lilium</h4>
                            <p>Conocido popularmente como Azucena, el Lilium es una planta bulbosa, herbácea perenne con bulbos escamosos.</p>
                            <p class="precio">$39.990 <span class="u-pull-right">$25.990</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                Carrito</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="four columns">
                        <div class="card">
                            <img src="{% static 'core/img/Magnolio Grandiflora.webp'%}" class="u-full-width" alt="parlante jbl">
                            <div class="info-card">
                                <h4>Eepsilidae Phelpudis</h4>
                                <p>El magnolio es un árbol demasiado lindo, sus hojas verde oscuro brillantes y su flor blanca de tamaño relevante y aroma perfecto lo hacen un árbol muy decorativo.</p>
                                <p class="precio">$25.990<span class="u-pull-right">$19.990</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                    Carrito</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'core/img/Alegria Nueva Guinea.webp'%}" class="u-full-width" alt="alexa">
                            <div class="info-card">
                                <h4>Alegria Nueva Guinea</h4>
                                <p>La Alegría nueva guinea es una herbácea, que da flores muy lindas durante la primavera y el verano.</p>
                                <p class="precio">$49.990 <span class="u-pull-right">$35.990</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                    Carrito</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'core/img/Bignonia Copa de vino.webp'%}" class="u-full-width" alt="chromecast">
                            <div class="info-card">
                                <h4>Bignonia Copa de Vino</h4>
                                <p>La bignonia copa de vino es una linda planta trepadora, que da una hermosa flor con forma de copa.</p>
                                <p class="precio">$39.990<span class="u-pull-right">$29.990</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                    Carrito</a>
                            </div>
                        </div>
                    </div>
                    <div class="four columns">
                        <div class="card">
                            <img src="{% static 'core/img/calethea.jfif'%}" class="u-full-width" alt="parlante jbl">
                            <div class="info-card">
                                <h4>Calethea Triostar</h4>
                                <p>No hay duda de que las Calatheas son una de las plantas purificadoras más llamativas. Debido a sus hojas, y al colorido de estas, es casi imposible resistirse a ellas.</p>
                                <p class="precio">$25.990 <span class="u-pull-right">$15.990</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                    Carrito</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'core/img/Maranta Leuconeura.jfif'%}" class="u-full-width" alt="control">
                            <div class="info-card">
                                <h4>Maranta Leuconeura</h4>
                                <p>La maranta leuconera es una de las más conocidas y apreciadas por sus hojas con tonalidades verdes y rojas.</p>
                                <p class="precio">$55.990 <span class="u-pull-right">$39.990</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                    Carrito</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'core/img/aglaonema roja.jfif'%}" class="u-full-width" alt="watch 4">
                            <div class="info-card">
                                <h4>Aglaonema Red Zircon</h4>
                                <p>La Aglaonema ‘Red Zircon’ es un cultivar muy, muy bonito, que alcanza una altura de unos 30-40 centímetros y cuyas hojas van cambiando de color a medida que va creciendo.</p>
                                <p class="precio">$99.990<span class="u-pull-right">$85.990</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                    Carrito</a>
                            </div>
                        </div>
                    </div>
                    <div class="four columns">
                        <div class="card">
                            <img src="{% static 'core/img/Anthurium_clarinervium.jfif'%}" class="u-full-width" alt="parlante jbl">
                            <div class="info-card">
                                <h4>Anthurium clarinervium</h4>
                                <p>El anturio es una planta arbustiva tropical muy bonita. En los viveros es bastante fácil encontrar la especie más común: Anthurium andreanum</p>
                                <p class="precio">$35.990 <span class="u-pull-right">$29.990</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                    Carrito</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'core/img/caladium.jfif'%}" class="u-full-width" alt="audifonos">
                            <div class="info-card">
                                <h4>Caladium</h4>
                                <p>Todos los Caladium son maravillosos. Como su nombre común indica, paleta de pintor, parece que ciertamente han sido pintadas por alguien.</p>
                                <p class="precio">$49.990 <span class="u-pull-right">$29.990</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                    Carrito</a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'core/img/calathea-ornata.jfif'%}" class="u-full-width" alt="pendrive">
                            <div class="info-card">
                                <h4>Calathea ornata</h4>
                                <p>Si bien existen más de 200 especies de calateas, sus hojas son de color verde oscuro con los nervios rojizos, y la planta puede medir unos 40 centímetros de altura.</p>
                                <p class="precio">$9.990 <span class="u-pull-right">$5.990</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar Al
                                    Carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--footer -->
    <footer class="site-footer bg-dark">
        <div class="container-fluid bg-dark p-3 text-white">
            <div class="row">
                <div class="col-3 col-md-3">
                    <h6>HORARIO DE ATENCIÓN TIENDA WEB</h6>
                    <p class="text-justify">
                        De Lunes a Viernes:
                        De 10:00 AM a 21:00 PM
                    </p>
                </div>
                <div class="col-6 col-md-3">
                    <div class="footer-title">
                        <h6>Encuentranos en</h6>
                    </div>
                    <div class="contact-info">
                        <h6>Tienda:</h6>
                        <p> Calle 19 #791 Las Condes</p>
                        <p>Próximamente abriremos en más lugares!</p>
                        <div class="phone">
                            <h6>Contacto:</h6>
                            <p>
                                <br>
                                <a type="button" href="{% url 'contactanos' %}">Contáctanos</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-2">
                    <h6>Enlaces Rápidos</h6>
                    <ul class="footer-links">
                        <li><a href="#">Politica de privacidad</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark">
                        <div class="card-header">
                            <h4 class="card-title">Registrate con tu email!</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="email" id="email" name="email"
                                    placeholder="Ingresa tu correo electrónico">
                                <div class="input-group-append">
                                    <button class="button" type="submit">Enviar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <ul class="nav">
                                <li>
                                    <a class="nav-link" href="http://www.facebook.com" target="blank">
                                        <span class="text-white fs-1">
                                            <i class="fa-brands fa-facebook"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="http://www.instagram.com" target="blank">
                                        <span class="text-white fs-1">
                                            <i class="fa-brands fa-instagram"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="http://www.twitter.com" target="blank">
                                        <span class="text-white fs-1">
                                            <i class="fa-brands fa-twitter"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container col-3">
            <div class="row">
                <div>
                    <p class="copyright-text">Copyright © 2022 Todos los derechos reservados.
                        <a href="{% url 'home' %}"><span class="logo">Happy Garden por siempre!</span></a>
                    </p>
                </div>
            </div>
    </footer>
    <!--end footer -->

    <!--Links Jquery, Popper, Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.js"></script>

    <script src="assets/js/javascript.js"></script>
    <script src="assets/js/jquery-3.6.0.js"></script>

    <script>
        var Icono_Clima = document.getElementById("IconoClima")
        var Temperatura = document.getElementById("Temperatura")
        var Descripcion_clima = document.getElementById("Descripcion")
        var Ubicacion_actual = navigator.geolocation.getCurrentPosition(function(data){
            var latitud = data.coords.latitude
            var longitud = data.coords.longitude
            $.getJSON(`https://api.openweathermap.org/data/2.5/weather?lat=${latitud}&lon=${longitud}&units=metric&appid=cbc6e4864eaeb1415d242341fde7954e`,function(data){
            var icono = data.weather[0].icon
            Icono_Clima.setAttribute("src",`https://openweathermap.org/img/wn/${icono}@2x.png`)
            Temperatura.innerHTML = data.main.temp+"°C"
            Descripcion_clima.innerHTML = data.weather[0].description
        })
        }) 
        </script>
</body>